<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CursachApp.Properties.Settings.CursachConnectionString"
            connectionString="Data Source=DESKTOP-QCNPU58\SQLEXPRESS;Initial Catalog=Cursach;Integrated Security=True;User ID=sa;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>